@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Light.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Light.woff') format('woff'),
	url('../fonts/subset-Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
	url('../fonts/subset-Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Medium.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Medium.woff') format('woff'),
	url('../fonts/subset-Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/subset-Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
	url('../fonts/subset-Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
html {
	line-height: 1;
	overflow-x:hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

body {
	font-family: Montserrat, sans-serif;
	min-height: 100vh;
	position: relative;
	color: #FFFFFF;
	background: url(../content-img/bg.webp) no-repeat center center/cover;
	z-index:0;
	overflow: hidden;
}

body:after {
	position: absolute;
	content:"";
	width: 100%;
	height: 100%;
	background: #00000080;
	z-index: 1;
	top: 0;
	left: 0;
}

body .coin1 {
	position: absolute;
	top: 155px;
	left: calc(50% - 560px);
	width: 127px;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	z-index: 0;
}

body.win1 .coin1, body.win2 .coin1, body.win2 .coin1, body.win3 .coin1, body.win4 .coin1, body.win5 .coin1 {
	animation: coin1move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin1move {
	0% {
		top: 155px;
		transform: rotateY(0);
	}
	50% {
		top: 100px;
		transform: rotateY(40deg);
	}
	100% {
		top: 155px;
		transform: rotateY(0);
	}
}

body .coin2 {
	position: absolute;
	top: 430px;
	left: calc(50% - 700px);
	width: 130px;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}

body.win1 .coin2, body.win2 .coin2, body.win3 .coin2, body.win4 .coin2, body.win5 .coin2 {
	animation: coin2move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin2move {
	0% {
		left: calc(50% - 700px);
		transform: rotateY(0);
	}
	50% {
		left: calc(50% - 770px);
		transform: rotateY(-40deg);
	}
	100% {
		left: calc(50% - 700px);
		transform: rotateY(0);
	}
}

body .coin3 {
	position: absolute;
	top: 730px;
	left: calc(50% - 480px);
	width: 130px;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}

body.win1 .coin3, body.win2 .coin3, body.win3 .coin3, body.win4 .coin3, body.win5 .coin3 {
	animation: coin3move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin3move {
	0% {
		top: 730px;
		transform: rotateY(0);
	}
	50% {
		top: 800px;
		transform: rotateY(40deg);
	}
	100% {
		top: 730px;
		transform: rotateY(0);
	}
}

body .coin4 {
	position: absolute;
	top: 145px;
	left: calc(50% + 430px);
	width: 130px;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}

body.win1 .coin4, body.win2 .coin4, body.win3 .coin4, body.win4 .coin4, body.win5 .coin4 {
	animation: coin4move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin4move {
	0% {
		top: 145px;
		transform: rotateY(0);
	}
	50% {
		top: 80px;
		transform: rotateY(40deg);
	}
	100% {
		top: 145px;
		transform: rotateY(0);
	}
}

body .coin5 {
	position: absolute;
	top: 430px;
	left: calc(50% + 530px);
	width: 140px;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}

body.win1 .coin5, body.win2 .coin5, body.win3 .coin5, body.win4 .coin5, body.win5 .coin5 {
	animation: coin5move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin5move {
	0% {
		left: calc(50% + 530px);
		transform: rotateY(0);
	}
	50% {
		left: calc(50% + 630px);
		transform: rotateY(-40deg);
	}
	100% {
		left: calc(50% + 530px);
		transform: rotateY(0);
	}
}

body .coin6 {
	position: absolute;
	top: 730px;
	left: calc(50% + 350px);
	width: 130px;
	transform-style: preserve-3d;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}

body.win1 .coin6, body.win2 .coin6, body.win3 .coin6, body.win4 .coin6, body.win5 .coin6 {
	animation: coin6move 5s linear infinite;
	animation-delay: 0.8s;
}

@keyframes coin6move {
	0% {
		top: 730px;
		transform: rotateY(0);
	}
	50% {
		top: 800px;
		transform: rotateY(40deg);
	}
	100% {
		top: 730px;
		transform: rotateY(0);
	}
}

button, input, optgroup, select, textarea {
}

button, input {
}


a {
	text-decoration:none;
}

.container {
	max-width:1228px;
	padding:0 12px;
	margin:0 auto;
	position:relative;
}

.header {
	padding: 40px;
	background: transparent;
	width: 100%;
	z-index:2;
	position: relative;
}

.header > .container {
	display:flex;
	align-items:center;
	justify-content:center;
}

.header img {
	max-width:190px;
}

.main {
	height:100%;
	width: 100%;
	padding-top:100px;
	z-index:2;
	position: relative;
}

.modal {
	position: absolute;
	z-index: 1001;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #3E4464;
	border-radius: 40px;
	padding: 35px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in-out;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
}

body.show .modal {
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
}

.modal .cong {
	font-size: 56px;
	font-weight: 800;
	color: #3E4464;
	text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
	1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.modal .bonus {
	padding: 60px 0 30px 0;
}

.modal .bonus-text-1 {
	font-size: 120px;
	font-weight: 800;
}

.modal .bonus-text-1 .currency {
	font-size: 64px;
	font-weight: 500;
	margin: 0 20px 0 0;
}

.modal .bonus-text-2 {
	font-size: 51px;
	font-weight: 800;
	margin: 10px 0 0 0;
}

.modal .go-button {
	width:280px;
	padding:17px 0;
	cursor:pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(87.28deg, #F5D419 0%, #FF4200 100%),
	linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
	color: #fff;
	border-radius: 16px;
	font-weight: 700;
	font-size: 24px;
}

.modal .terms {
	margin:10px 0 0 0;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
}

.modal .modal-chicken {
	width: 528px;
	position: absolute;
	left: -155px;
	top: 200px;
}

.game-panel {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 1204px;
	overflow: hidden;
}

.game-field {
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	position: relative;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	border: 2px solid #FFFFFF;
	overflow-y: hidden;
	scroll-behavior: smooth;
	box-shadow: 0px 10.89px 13.07px 0px #00000080;
}

.game-field:after {
	position: absolute;
	content: "";
	width: 200px;
	height: 100%;
	left: 200px;
	top:0;
	background: linear-gradient(180deg, rgba(251, 223, 90, 0) 0%, rgba(255, 225, 89, 0.5) 98.91%);
	transition: opacity 1s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

body.win1 .game-field:after {
	visibility: visible;
	opacity: 1;
}

body.win2 .game-field:after {
	left: 400px;
	visibility: visible;
	opacity: 1;
}

body.win3 .game-field:after {
	visibility: visible;
	opacity: 1;
	left: 600px;
}

body.win4 .game-field:after {
	visibility: visible;
	opacity: 1;
	left: 800px;
}

body.win5 .game-field:after {
	visibility: visible;
	opacity: 1;
	width: 1000px;
}


.game-field .x10 {
	position: absolute;
	top: 155px;
	left: 234px;
	width: 140px;
	transform-style: preserve-3d;
	transition: transform 0.3s ease-in-out;
}

.game-field .x20 {
	position: absolute;
	top: 155px;
	left: 434px;
	width: 140px;
	transform-style: preserve-3d;
	transition: transform 0.3s ease-in-out;
}

.game-field .x30 {
	position: absolute;
	top: 155px;
	left: 634px;
	width: 140px;
	transform-style: preserve-3d;
	transition: transform 0.3s ease-in-out;
}

.game-field .x50 {
	position: absolute;
	top: 155px;
	left: 834px;
	width: 140px;
	transform-style: preserve-3d;
	transition: transform 0.3s ease-in-out;
}

.game-field .x10.turn,
.game-field .x20.turn,
.game-field .x30.turn,
.game-field .x50.turn  {
	transform: rotateY(360deg)
}

.game-field .egg {
	position: absolute;
	top: 155px;
	left: 1024px;
	z-index: 6;
}

body.win1 .game-field .egg, body.win2 .game-field .egg, body.win3 .game-field .egg, body.win4 .game-field .egg,
body.win5 .game-field .egg {
	animation: eggMove 2s ease-in-out infinite;
	animation-delay: 0.5s;
}


body.win5 .game-field .light {
	display: none;
}

.game-field .light {
	position: absolute;
	top: 245px;
	left: 1047px;
}

.game-field .game-field-bg {
	border-radius: 40px;
	width: 1200px;
	height: 100%;
	max-width: unset;
	object-fit: cover;
	object-position: left;
	background-position: left center;
	background-size: cover;
}

.game-field .chicken {
	position:absolute;
	left:0;
	bottom:-33px;
	width: 200px;
	height: 200px;
	transition: all 0.3s ease;
}

.game-field .chicken .chicken-body {
	z-index: 5;
	position: relative;
}

.game-field .chicken .chicken-legs {
	position:absolute;
	bottom:5px;
	left:-12px;
	z-index:4;
	transition: bottom 0.3s ease;
}

body.win1 .game-field .chicken .chicken-legs, body.win2 .game-field .chicken .chicken-legs,
body.win3 .game-field .chicken .chicken-legs, body.win4 .game-field .chicken .chicken-legs,
body.win5 .game-field .chicken .chicken-legs {
	animation: chickenLegsMove 1s ease-in-out infinite;
	animation-delay: 0.5s;
}

body.win1 .game-field .chicken, body.win2 .game-field .chicken, body.win3 .game-field .chicken,
body.win4 .game-field .chicken ,body.win5 .game-field .chicken {
	animation: chickenMove 1s ease-in-out infinite;
	animation-delay: 0.5s;
}

body.move1 .game-field .chicken {
	left:200px;
	animation: chickenJump 0.3s ease-in-out;
}

body.win1 .game-field .chicken {
	left:200px;
}

body.move2 .game-field .chicken {
	left:400px;
	animation: chickenJump 0.3s ease-in-out;
}

body.win2 .game-field .chicken {
	left:400px;
}

body.move3 .game-field .chicken {
	left:600px;
	animation: chickenJump 0.3s ease-in-out;
}

body.win3 .game-field .chicken {
	left:600px;
}

body.move4 .game-field .chicken {
	left:800px;
	animation: chickenJump 0.3s ease-in-out;
}

body.win4 .game-field .chicken {
	left:800px;
}

body.move5 .game-field .chicken {
	left:1000px;
	animation: chickenJump 0.3s ease-in-out;
}

body.win5 .game-field .chicken {
	left:1000px;
}

@keyframes chickenJump {
	0% {
		bottom: -33px;
	}
	50% {
		bottom: 0px;
	}
	100% {
		bottom: -33px;
	}
}

@keyframes chickenMove {
	0% {
		bottom: -33px;
	}
	50% {
		bottom: -37px;
	}
	100% {
		bottom: -33px;
	}
}

@keyframes chickenLegsMove {
	0% {
		bottom:5px;
	}
	50% {
		bottom:9px;
	}
	100% {
		bottom:5px;
	}
}

@keyframes eggMove {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(-10deg);
		filter: sepia(25%);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0 100px 0;
}

body.show .buttons {
	display:none;
}

.buttons .go-btn {
	width:280px;
	height:60px;
	cursor:pointer;
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(87.28deg, #F5D419 0%, #FF4200 100%),
	linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
	color: #fff;
	border-radius: 16px;
	font-weight: 700;
	font-size: 24px;
	overflow: hidden;
}

.buttons .go-btn:before {
	width: 10px;
	height: 95px;
	transform: rotate(15deg);
	position: absolute;
	content: "";
	filter: blur(15px);
	background:#FFFFFF;
	left: -20px;
	animation: pulseButton 2s ease-in-out infinite;
}

.buttons .go-btn:hover:before {
	animation-play-state: paused;
}

.buttons .go-btn:hover {
	background: linear-gradient(87.28deg, #F5D419 0%, #FF4200 100%),
	linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

@keyframes pulseButton {
	0% {
		left: -20px;
	}
	20% {
		left: 300px;
	}
	100% {
		left: 300px;
	}
}

.buttons .cash-out {
	width:280px;
	height:60px;
	cursor:pointer;
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #FFFFFF33;
	color: #fff;
	border-radius: 16px;
	font-weight: 500;
	font-size: 24px;
	overflow: hidden;
	margin: 0 0 0 40px;
}

.buttons .cash-out:hover {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
}


@media(max-width: 1000px) {
	.header {
		padding: 20px 0;
	}

	.main {
		padding-top: 60px;
	}

	.game-field {
		border-radius: 22px;
		border: 1px solid #FFFFFF;
		max-width: 602px;
		margin: 0 auto;
	}

	.game-field .game-field-bg {
		border-radius: 22px;
		width: 600px;
	}

	.game-field .chicken {
		position: absolute;
		left: 0;
		bottom: -15px;
		width: 100px;
		height: 100px;
	}

	.game-field .chicken .chicken-legs {
		bottom: 1px;
		left: -3px;
	}

	.game-field .x10 {
		top: 75px;
		left: 117px;
		width: 70px;
	}

	.game-field .x20 {
		top: 75px;
		left: 217px;
		width: 70px;
	}

	.game-field .x30 {
		top: 75px;
		left: 317px;
		width: 70px;
	}

	.game-field .x50 {
		top: 75px;
		left: 417px;
		width: 70px;
	}

	.game-field .egg {
		position: absolute;
		top: 75px;
		left: 512px;
		z-index: 6;
		width: 76px;
	}

	.game-field .light {
		position: absolute;
		top: 123px;
		left: 524px;
		width: 50px;
	}

	body.move1 .game-field .chicken {
		left:100px;
	}

	body.win1 .game-field .chicken {
		left:100px;
	}

	body.move2 .game-field .chicken {
		left:200px;
	}

	body.win2 .game-field .chicken {
		left:200px;
	}

	body.move3 .game-field .chicken {
		left:300px;
	}

	body.win3 .game-field .chicken {
		left:300px;
	}

	body.move4 .game-field .chicken {
		left:400px;
	}

	body.win4 .game-field .chicken {
		left:400px;
	}

	body.move5 .game-field .chicken {
		left:500px;
	}

	body.win5 .game-field .chicken {
		left:500px;
	}

	@keyframes chickenJump {
		0% {
			bottom: -15px;
		}
		50% {
			bottom: 15px;
		}
		100% {
			bottom: -15px;
		}
	}

	@keyframes chickenMove {
		0% {
			bottom: -15px;
		}
		50% {
			bottom: -17px;
		}
		100% {
			bottom: -15px;
		}
	}

	@keyframes chickenLegsMove {
		0% {
			bottom:1px;
		}
		50% {
			bottom:3px;
		}
		100% {
			bottom:1px;
		}
	}

	.game-field:after {
		width: 100px;
		height: 100%;
		left: 100px;
	}

	body.win2 .game-field:after {
		left: 200px;
	}

	body.win3 .game-field:after {
		left: 300px;
	}

	body.win4 .game-field:after {
		left: 400px;
	}

	body.win5 .game-field:after {
		width: 500px;
	}

	.buttons {
		padding: 20px 0 100px 0;
		max-width: 602px;
		margin: 0 auto;
	}


	.buttons .go-btn {
		width:calc(50% - 6px);
		height:35px;
		border-radius: 9px;
		font-size: 14px;
	}

	.buttons .go-btn:before {
		width: 10px;
		height: 40px;
		transform: rotate(15deg);
		position: absolute;
		content: "";
		filter: blur(15px);
		background:#FFFFFF;
		left: -20px;
		animation: pulseButton 2s ease-in-out infinite;
	}

	@keyframes pulseButton {
		0% {
			left: -20px;
		}
		20% {
			left: calc(100%);
		}
		100% {
			left: calc(100%);
		}
	}

	.buttons .cash-out {
		width:calc(50% - 6px);
		height:35px;
		border-radius: 9px;
		font-size: 14px;
		margin: 0 0 0 12px;
	}

	body .coin1 {
		top: 100px;
		left: calc(50% - 145px);
		width: 55px;
	}

	@keyframes coin1move {
		0% {
			top: 100px;
			left: calc(50% - 145px);
			transform: rotateY(0);
		}
		50% {
			top: 65px;
			left: calc(50% - 155px);
			transform: rotateY(40deg);
		}
		100% {
			top: 100px;
			left: calc(50% - 145px);
			transform: rotateY(0);
		}
	}

	body .coin2 {
		top: 70px;
		left: calc(50% - 27px);
		width: 55px;
	}

	@keyframes coin2move {
		0% {
			top: 70px;
			transform: rotateY(0);
		}
		50% {
			top: 44px;
			transform: rotateY(-40deg);
		}
		100% {
			top: 70px;
			transform: rotateY(0);
		}
	}

	body .coin3 {
		top: 70px;
		left: calc(50% + 90px);
		width: 55px;
	}

	@keyframes coin3move {
		0% {
			top: 70px;
			left: calc(50% + 90px);
			transform: rotateY(0);
		}
		50% {
			top: 40px;
			left: calc(50% + 100px);
			transform: rotateY(40deg);
		}
		100% {
			top: 70px;
			left: calc(50% + 90px);
			transform: rotateY(0);
		}
	}

	body .coin4 {
		position: absolute;
		top: 470px;
		left: calc(50% - 145px);
		width: 65px;
	}

	@keyframes coin4move {
		0% {
			top: 470px;
			left: calc(50% - 145px);
			transform: rotateY(0);
		}
		50% {
			top: 500px;
			left: calc(50% - 155px);
			transform: rotateY(40deg);
		}
		100% {
			top: 470px;
			left: calc(50% - 145px);
			transform: rotateY(0);
		}
	}

	body .coin5 {
		top: 520px;
		left: calc(50% - 25px);
		width: 50px;
	}

	@keyframes coin5move {
		0% {
			top: 520px;
			transform: rotateY(0);
		}
		50% {
			top: 550px;
			transform: rotateY(-40deg);
		}
		100% {
			top: 520px;
			transform: rotateY(0);
		}
	}

	body .coin6 {
		top: 470px;
		left: calc(50% + 90px);
		width: 55px;
	}

	@keyframes coin6move {
		0% {
			top: 470px;
			left: calc(50% + 90px);
			transform: rotateY(0);
		}
		50% {
			top: 500px;
			left: calc(50% + 100px);
			transform: rotateY(40deg);
		}
		100% {
			top: 470px;
			left: calc(50% + 90px);
			transform: rotateY(0);
		}
	}

	.modal {
		border-radius: 22px;
		max-width: 600px;
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		padding: 10px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.modal .cong {
		font-size: 24px;
	}

	.modal .bonus {
		padding: 20px 0 40px 0;
	}

	.modal .bonus-text-1 {
		font-size: 60px;
		font-weight: 800;
	}

	.modal .bonus-text-1 .currency {
		font-size: 28px;
		font-weight: 500;
		margin: 0 10px 0 0;
	}

	.modal .bonus-text-2 {
		font-size: 24px;
		font-weight: 800;
		margin: 5px 0 0 0;
	}

	.modal .go-button {
		width:100%;
		padding:17px 0;
		border-radius: 8px;
		font-size: 14px;
	}

	.modal .terms {
		margin:10px 0 0 0;
		color: #fff;
		font-weight: 500;
		font-size: 12px;
	}

	.modal .modal-chicken {
		display: none;
	}

}

@media(max-width: 600px) {

	body {
		background: url(../content-img/bg-mob.webp) no-repeat center center/cover;
	}

}