@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Light.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Light.woff') format('woff'),
	url('../fonts/subset-Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
	url('../fonts/subset-Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Medium.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Medium.woff') format('woff'),
	url('../fonts/subset-Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/subset-Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
	url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
	url('../fonts/subset-Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
html {
	line-height: 1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

body {
	font-family: Montserrat, sans-serif;
	min-height: 100vh;
	position: relative;
	color: #FFFFFF;
	background: url(../content-img/bg.webp) no-repeat center center/cover;
	z-index:0;
}

body:after {
	position: absolute;
	content:"";
	width: 100%;
	height: 100%;
	background: #00000080;
	z-index: 1;
	top: 0;
	left: 0;
}


button, input, optgroup, select, textarea {
}

button, input {
}


a {
	text-decoration:none;
}

.container {
	max-width:1224px;
	padding:0 12px;
	margin:0 auto;
	position:relative;
}

.header {
	padding: 40px;
	background: transparent;
	width: 100%;
	z-index:2;
	position: relative;
}

.header > .container {
	display:flex;
	align-items:center;
	justify-content:center;
}

.header img {
	max-width:190px;
}

.main {
	height:100%;
	width: 100%;
	padding-top:100px;
	z-index:2;
	position: relative;
}

.modal {
	position: absolute;
	z-index: 1001;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(180deg, #6B8B40 0%, #394C1D 58%, #2D4407 100%);
	border-radius: 32px;
	padding: 20px 12px;
	min-width: 560px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in-out;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
}

body.show .modal {
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
}

.modal:before {
	position: absolute;
	content: "";
	width: 1020px;
	height: 1036px;
	border-radius: 50%;
	background: linear-gradient(180deg, #283416 0%, #305000 100%);
	top:-908px;
	left:50%;
	transform: translateX(-50%);
	z-index: -1;
}

.modal .cong {
	margin: 20px 0 32px 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

.modal .win {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
}

.modal .bonus {
	margin: 12px 0 64px 0;
	display: flex;
	align-items: center;
}

.modal .bonus-text {
	font-family: Montserrat,sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	background: linear-gradient(180deg, #FFBE04 0%, #FEF189 46%, #FAC209 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 1.5px 1.5px #895700;
	max-width: 60px;
}

.modal .bonus-text-container {
	max-width: 90px;
	padding: 15px;
	border-radius: 150px;
	background: #304314;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal .bonus-text-container:after {
	content: "";
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	border-radius: 150px;
	background: linear-gradient(180deg, #375B10 0%, #669303 100%);
	position: absolute;
	z-index: -1;
}

.modal .and {
	margin: 0 12px;
	font-family: Montserrat,sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.modal a {
	width: 100%;
	display: inline-block;
	background: linear-gradient(180deg, #FFBE04 0%, #FEF189 46%, #FAC209 100%);
	box-shadow: 0px 2px 2px 0px #895700;
	padding: 16px;
	font-family: ar_Aquaguy,sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	color: #212B11;
	border-radius: 12px;
}

.modal a:hover {
	opacity: 0.9;
}

.overlay {
	background: black;
	opacity: 0.4;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
	max-height: 0;
	transition: max-height 0.2s ease-in-out;
}

body.show .overlay {
	max-height: 5000px;
}

.game-panel {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 1204px;
	overflow: hidden;
}

.game-field {
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	position: relative;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	border: 2px solid #FFFFFF
}

.game-field .game-field-bg {
	border-radius: 40px;
	min-width: 1200px;
	height: 100%;
	max-width: unset;
	object-fit: cover;
	object-position: left;
	background-position: left center;
	background-size: cover;
}

.game-field .chicken {
	position:absolute;
	left:0;
	bottom:-33px;
	width: 200px;
	height: 200px;
	transition: all 0.3s ease;
}

.game-field .chicken .chicken-body {
	z-index: 5;
	position: relative;
}

.game-field .chicken .chicken-legs {
	position:absolute;
	bottom:5px;
	left:-12px;
	z-index:4;
	transition: bottom 0.3s ease;
}

.game-field .chicken.jump .chicken-legs {
	animation: chickenLegsMove 1s ease-in-out infinite;
	animation-delay: 0.5s;
}

.game-field .chicken.jump {
	animation: chickenMove 1s ease-in-out infinite;
	animation-delay: 0.5s;
}

body.move1 .game-field .chicken {
	left:200px;
	animation: chickenJump 0.3s ease-in-out;
}

body.moved1 .game-field .chicken {
	left:200px;
}

@keyframes chickenJump {
	0% {
		bottom: -33px;
	}
	50% {
		bottom: 0px;
	}
	100% {
		bottom: -33px;
	}
}

@keyframes chickenMove {
	0% {
		bottom: -33px;
	}
	50% {
		bottom: -36px;
	}
	100% {
		bottom: -33px;
	}
}

@keyframes chickenLegsMove {
	0% {
		bottom:5px;
	}
	50% {
		bottom:8px;
	}
	100% {
		bottom:5px;
	}
}

.go-btn {
	width:100px;
	height:30px;
	cursor:pointer;
	position: relative;
	z-index: 5;
}


@media(max-width: 1000px) {
	.header {
		padding: 20px 0;
	}



	.modal {
		min-width: unset;
		width: calc(100% - 30px);
		top:80px;
		transform:translate(-50%,0);
	}

}

@media(max-width: 600px) {

	body {
		background: url(../content-img/bg-mob.webp) no-repeat center center/cover;
	}

}