html {
	line-height: 1.1;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

main {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b, strong {
	font-weight: bolder
}

code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

template {
	display: none
}

[hidden] {
	display: none
}

@font-face {
	font-family: 'Prompt';
	src: url('../fonts/prompt-regular.woff2') format('woff2'),
	url('../fonts/prompt-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
h1,h2,h3 {
	font-weight: 400;
	font-family: 'Prompt',sans-serif;
	margin: 0;
	text-transform: uppercase;
}
a {
	text-transform: uppercase;
	text-decoration: none;
}
body {
	background: #FFFFFF;
	font-family: "Prompt", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	color: #FFFFFF;
	font-style: normal;
	font-size: 14px;
}
.header {
	background:transparent;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content:"";
	z-index:-1;
	background: #F2F2F2;
}
.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header > .container img {
	max-width:165px;
}
.login-btn {
	background: #FF9D3D;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding: 13px 25px;
	border-radius: 15px; 
	text-decoration: none;
	color : #141414;
}
.login-btn:hover {
	opacity: 0.9;
}
.main {
	padding: 100px 0 0;
}
.container {
	max-width: 1520px;
	margin: 0 auto;
	padding: 0 20px;
	overflow:hidden;
}

.banner .bg img {
	object-fit: cover;
	height: 400px;
	border-radius: 30px;
}

.banner .girl {
	top:-116px;
	left:-330px;
	position:absolute;
}

.banner .girl img {
	object-fit: cover;
	max-height: 400px;
}

.banner {
	border-radius: 30px;
	position: relative;
	margin-bottom: 40px;
	overflow:hidden;
}

.banner .banner-blur {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	background: #FFFFFF1A;
	box-shadow: 0px -17px 16px 0px #8A00DF40 inset, 0px 4px 40px 0px #00000063;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	width: 550px;
	height: 230px;
}

.banner .banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 490px;
	text-align: center;
}

.banner .banner-text .fishes {
	position:absolute;
	left: 600px;
	top: 50%;
	width: 320px;
	transform:translateY(-50%);
}

.fishes .fish3 {
	width: 100%;
	height: auto;
}

.fishes .fish1 {
	position:absolute;
	top:calc(50% + 145px);
	left: 0;
	transform:translateX(-100%);
}

.fishes .fish2 {
	position:absolute;
	top:calc(50% + 145px);
	left: 0;
	transform:translateX(-100%);
}

.fishes .fishmove {
	position:absolute;
	top:50%;
	left:calc(50% + 20px);
	transform:translate(-50%,-50%);
}

.banner .banner-text .title {
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.02em;
}

.banner .banner-text .bonus {
	padding: 6px 0 20px 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.bonus-btn {
	font-weight: 700;
	line-height: 21px;
	display: inline-block;
	padding: 15px 45px;
	background: #B5E051;
	border: 1px solid #D9FF81;
	box-shadow: 0px 4px 24px 0px #0000006E;
	text-decoration: none;
	color: #32343C;
	border-radius: 15px;
}

.bonus-btn:hover {
	background: #C9F661;
	border: 1px solid #C9F661;
}


.main h1 {
	font-size: 30px;
	margin-bottom: 10px;
}
.main p {
	font-size: 14px;
	line-height: 17px;
}
.title-icon {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.title-icon .icon {
	margin-right: 10px;
}
.slot-slides {
	padding: 40px 20px 130px 20px;
	background: #192044;
}
.slot-slides .container {
	position: relative;
	padding: 0;
}

.slot-slides .container .swiper-container.slider2 {
	overflow: hidden;
}

.slot-slides .slider-btn {
	background: #FFFFFF33;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: unset;
	position: absolute;
	top:calc(50% + 25px);
	transform: translate(0, -50%);
}

.slot-slides .slider-btn:hover {
	background: #FFFFFF4D;
}

.slot-slides .slider-btn.back {
	left: -18px;
	z-index: 5;
}

.slot-slides .slider-btn.next {
	right: -18px;
	z-index: 5;
}

.slot-slides .bonus-btn {
	position: absolute;
	left: 50%;
	bottom: -90px;
	transform: translate(-50%, 0);
}

.slides.provider-slides {
	margin-bottom: 80px;
	padding: 0 20px;
}

.provider-slides .container {
	position: relative;
	padding: 0;
}

.provider-slides .container .swiper.slider {
	overflow: hidden;
}

.provider-slides .slider-btn {
	background: #FFFFFF33;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: unset;
	position: absolute;
	top:calc(50% + 25px);
	transform: translate(0, -50%);
}

.provider-slides .slider-btn:hover {
	background: #FFFFFF4D;
}

.provider-slides .slider-btn.back {
	left: -18px;
	z-index: 5;
}

.provider-slides .slider-btn.next {
	right: -18px;
	z-index: 5;
}

.provider {
	background: #1A2140;
	border-radius: 7px;
	max-width: 100px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider .swiper-slide .provider img {
	width: auto;
	max-width: 70px;
	height: auto;
	box-shadow: none;
	max-height: 37px;
}

.slot-slide {
	background: #161D42;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: unset;
}

.slot-slide img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 10px;
}

.slot-slide .win-info {
	margin-left: 8px;
	text-wrap: nowrap;
}

.slot-slide .win-info .name {
	color: #7D829D;
	font-size: 12px;
	line-height: 15px;
}

.slot-slide .win-info .win {
	text-transform: uppercase;
	font-size: 14px;
	color: #B5E051;
}

.slot-slide .win-info .title {
	font-size: 12px;
	line-height: 18px; 
	color: #DEDEDE;
}

.main-info-wrap {
	background: linear-gradient(91.46deg, #673585 0.14%, #38159C 51.57%, #673585 100%);
	border-radius: 30px;
	margin: 2px;
	flex: 1;
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-info {
	background: linear-gradient(91.44deg, #8E49B6 0.18%, #5931CD 50.76%, #8E49B6 99.55%);
	border-radius: 30px;
	box-shadow: 0px 4px 40px 0px #0D1126;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-info-wrap h1 {
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	color:#DEDEDE;
	margin: 0 auto;
	text-align: start;
}

.main-info-wrap .wrapper {
	max-width: 590px;
}

.main-info-wrap ul {
	margin: 0 auto;
	padding: 30px 0 0 0;
	display: flex;
	flex-wrap: wrap;
}

.main-info-wrap ul li {
	width: calc(50% - 30px);
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	color: #7D829D;
}

.main-info-wrap ul li span {
	margin-left: 8px;
}

.main-info-wrap ul li:nth-child(2n+2) {
	margin-left: 60px; 
}

.jackpot {
	border-radius: 30px;
	margin: 40px 0;
	position: relative;
	overflow: hidden;
}

.jackpot .bg {
	height: 250px;
	border-radius: 30px;
	width: 100%;
	object-fit: cover;
}

.jackpot .girl1 {
	position: absolute;
	width: 450px;
	height: auto;
	top:-65px;
	left: 10%;
	z-index: 3;
}

.jackpot .girl2 {
	position: absolute;
	width: 450px;
	height: auto;
	top:-65px;
	right: 10%;
	z-index: 3;
}

.jackpot .jackpot-info {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF1A;
	border: 1px solid #FFFFFF1C;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	box-shadow: 0px 0px 40px 0px #28003FA6;
	border-radius: 25px;
	width: 400px;
	z-index: 2;
}

.jackpot .jackpot-info .title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.jackpot .jackpot-info .jackpot-number {
	margin: 14px 0;
	background: #20165E3D;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	box-shadow: 0px 3px 6px 0px #00000040 inset;
	border-radius: 14px;
	width: 100%;
	text-align: center;
}

.jackpot .jackpot-info .jackpot-number .value {
	padding:10px 0;
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0.08em;
	color: #B5E051;
}

.jackpot .jackpot-info .jackpot-number .value .number {
	padding:10px 0;
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0.08em;
	color: #B5E051;
}

.slides {
	margin-bottom: 40px;
	overflow: hidden;
}
.slider .swiper-slide img {
	max-width: 100%;
	box-shadow: 0px 2px 30px 0px #00000059;
}




@media(max-width: 1450px) {

	.jackpot .girl1 {
		left: 3%;
	}

	.jackpot .girl2 {
		right: 3%;
	}
}

@media(max-width: 1350px) {

	.banner .girl {
		left: -180px;
		z-index:-1;
	}
}

@media(max-width: 1250px) {

	.jackpot .girl1 {
		left: -70px;
	}

	.jackpot .girl2 {
		right: -70px;
	}
}

@media(max-width: 980px) {

	.jackpot .girl1 {
		left: -150px;
	}

	.jackpot .girl2 {
		right: -150px;
	}

	.jackpot .jackpot-info {
		width: 330px;
	}
}

@media(max-width: 768px) {
	.slides {
		margin-bottom: 30px;
	}
	.banner img {
		object-fit: contain;
		height: auto;
	}
	.main {
		padding-top: 80px;
	}

	.banner .banner-blur {
		width: calc(100% - 60px);
		box-shadow: 0px 4px 40px 0px #00000063;
	}

	.banner .banner-text {
		width: calc(100% - 100px);
	}

	.banner .banner-text .bonus {
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
	}

	.bonus-btn {
		padding: 15px 30px;
	}

	.main-info-wrap {
		background: linear-gradient(91.46deg, #101631 0.14%, #38159C 51.57%, #101631 100%);
		border-radius: 30px;
		margin: 2px;
		flex: 1;
		padding: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main-info {
		background: #191D44;
	}

	.main-info-wrap h1 {
		line-height: 26px;
	}

	.main-info-wrap .wrapper {
		max-width: 100%;
	}

	.main-info-wrap ul {
		margin: 0 auto;
		padding: 20px 0 0 0;
		display: flex;
		flex-wrap: wrap;
	}

	.main-info-wrap ul li {
		width: 100%;
	}

	.main-info-wrap ul li:nth-child(2n+2) {
		margin-left: unset; 
	}

}

@media(max-width: 700px) {

	.jackpot {
		width: calc(100% + 40px);
		margin-left: -20px;
		border-radius: unset;
	}

	.jackpot .bg {
		border-radius: unset;
	}

	.jackpot .girl1 {
		width: 200px;
		top:67px;
		left: -73px;
	}

	.jackpot .girl2 {
		width: 182px;
		top:67px;
		right: -57px;
	}

	.jackpot .jackpot-info {
		width: 330px;
	}
}

@media(max-width: 562px) {
	.slot-slides .slider-btn {
		top:calc(50% + 35px);
	}
	.slot-slides .bonus-btn {
		width: 100%;
		text-align: center;
	}
}

@media(max-width: 450px) {

	.banner .banner-blur {
		top: 160px;
		transform: translate(-50%, 0);
	}

	.banner .banner-text {
		top: 190px;
		transform: translate(-50%, 0);
	}

	.banner .banner-text .bonus {
		letter-spacing: -0.02em;
	}

	.banner .banner-text {
		width: calc(100% - 60px);
	}

	.slot-slides .container .swiper-container.slider2, .provider-slides .swiper.slider{
		margin: 0 9px;
	}

	.slot-slides .slider-btn.back, .provider-slides .slider-btn.back {
		left:-9px;
	}
	.slot-slides .slider-btn.next, .provider-slides .slider-btn.next {
		right: -9px;
	}

}

@media(max-width: 418px) {

	.provider-slides .slider-btn {
		top:calc(50% + 35px);
	}

}

@media(max-width: 410px) {

	.banner .banner-text .bonus{
		line-height: 24px;
		font-size: 24px;
	}

	.banner .banner-blur {
		height: 200px;
	}
	.login-btn {
		padding: 13px 15px;
	}
	.header > .container img {
		max-width: 140px;
	}
}

@media(max-width: 370px) {

	.banner .banner-blur {
		top: 140px;
		transform: translate(-50%, 0);
	}

	.banner .banner-text {
		top: 170px;
		transform: translate(-50%, 0);
	}

}

@media(max-width: 353px) {

	.banner .banner-blur {
		top: 140px;
	}

	.banner .banner-text {
		top: 150px;
	}

}