html {
	line-height: 1.1;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

main {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b, strong {
	font-weight: bolder
}

code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

template {
	display: none
}

[hidden] {
	display: none
}

@font-face {
	font-family: 'Prompt';
	src: url('../fonts/prompt-regular.woff2') format('woff2'),
	url('../fonts/prompt-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
h1,h2,h3 {
	font-weight: 400;
	font-family: 'Prompt',sans-serif;
	margin: 0;
	text-transform: uppercase;
}
a {
	text-transform: uppercase;
	text-decoration: none;
}
body {
	background: #FFFFFF;
	font-family: "Prompt", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	color: #FFFFFF;
	font-style: normal;
	font-size: 14px;
}
.header {
	background:transparent;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header:before {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content:"";
	z-index:-1;
	background: #F2F2F2;
}
.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header > .container img {
	max-width:180px;
}
.login-btn {
	background: #FF9D3D;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding: 13px 25px;
	border-radius: 12px;
	text-decoration: none;
	color : #141414;
}
.login-btn:hover {
	opacity: 0.9;
}
.main {
	padding: 100px 0 0;
}
.container {
	max-width: 1520px;
	margin: 0 auto;
	padding: 0 20px;
	overflow:hidden;
}

.banner .bg img {
	object-fit: cover;
	height: 400px;
	border-radius: 30px;
}

.banner .girl {
	top:-116px;
	left:-330px;
	position:absolute;
}

.banner .girl img {
	object-fit: cover;
	max-height: 400px;
}

.banner {
	border-radius: 30px;
	position: relative;
	margin-bottom: 40px;
	overflow:hidden;
}

.banner > .fishes1 {
	display:none;
}

.banner .banner-blur {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
	linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%),
	linear-gradient(134.15deg, rgba(100, 23, 134, 0.1) 21.54%, rgba(100, 23, 134, 0.3) 79.94%);
	box-shadow: 0px 0px 20px 0px #0000001A;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	width: 585px;
	height: 230px;
	border: 1px solid #64178699;
}

.banner .banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 530px;
	text-align: center;
}

.banner .banner-text > .fishes1 {
	position:absolute;
	left: 550px;
	top: 50%;
	width: 280px;
	transform:translateY(-50%);
}

.fishes1 .fish3 {
	width: 100%;
	height: auto;
}

.fishes1 .fish1 {
	position:absolute;
	top:calc(50% + 145px);
	left: 0;
	transform:translateX(-100%);
}

.fishes1 .fish2 {
	position:absolute;
	top:calc(50% - 325px);
	right: 0;
	transform:translateX(100%);
}

.fishes1 .fish1.gif {
	display:none
}

.fishes1 .fish2.gif{
	display:none
}

.fishes1 .fishmove {
	position:absolute;
	top:calc(50% - 10px);
	left:calc(50% + 20px);
	transform:translate(-50%,-50%);
}

.banner .banner-text .bonus {
	padding: 6px 0 20px 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.bonus-btn {
	font-weight: 700;
	line-height: 21px;
	display: inline-block;
	padding: 15px 45px;
	background: #FF9D3D;
	text-decoration: none;
	color: #141414;
	border-radius: 12px;
}

.bonus-btn:hover {
	opacity:0.9;
}


.main h1 {
	font-size: 30px;
	margin-bottom: 10px;
}
.main p {
	font-size: 14px;
	line-height: 17px;
}
.title-icon {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #141414;
	font-weight:700;
}
.title-icon .icon {
	margin-right: 10px;
}
.slot-slides {
	padding: 40px 20px 130px 20px;
	background: #641786;
}
.slot-slides .container {
	position: relative;
	padding: 0;
	overflow: unset;
}

.slot-slides .container .title-icon span {
	color: white;
}

.slot-slides .container .swiper-container.slider2 {
	overflow: hidden;
}

.slot-slides .slider-btn {
	background: #FFFFFF33;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: unset;
	position: absolute;
	top:calc(50% + 25px);
	transform: translate(0, -50%);
}

.slot-slides .slider-btn:hover {
	background: #FFFFFF4D;
}

.slot-slides .slider-btn.back {
	left: -18px;
	z-index: 5;
}

.slot-slides .slider-btn.next {
	right: -18px;
	z-index: 5;
}

.slot-slides .bonus-btn {
	position: absolute;
	left: 50%;
	bottom: -90px;
	transform: translate(-50%, 0);
}

.slides.provider-slides {
	margin-bottom: 40px;
	padding: 0 20px;
}

.provider-slides .container {
	position: relative;
	padding: 0;
	overflow: unset;
}

.provider-slides .container .swiper.slider {
	overflow: hidden;
	width: 100%;
}

.provider-slides .slider-btn {
	background: #E8E8E8;
	width: 36px;
	height: 36px;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	border: unset;
	position: absolute;
	top:calc(50% + 25px);
	transform: translate(0, -50%);
}

.provider-slides .slider-btn.back {
	left: -18px;
	z-index: 5;
}

.provider-slides .slider-btn.next {
	right: -18px;
	z-index: 5;
}

.provider {
	background: #F2F2F2;
	border-radius: 12px;
	max-width: 200px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider .swiper-slide .provider img {
	width: auto;
	max-width: calc(100% - 30px);
	height: auto;
	box-shadow: none;
	max-height: 45px;
}

.slot-slide {
	background: #F2F2F2;
	padding: 10px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: unset;
}

.slot-slide img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 12px;
}

.slot-slide .win-info {
	margin-left: 8px;
}

.slot-slide .win-info .name {
	color: #999999;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
}

.slot-slide .win-info .win {
	text-transform: uppercase;
	font-size: 14px;
	color: #FF9D3D;
	font-weight: 700;
}

.slot-slide .win-info .title {
	font-size: 12px;
	line-height: 18px; 
	color: #141414;
	font-weight: 500;
}

.main-info-wrap {
	border-radius: 16px;
	flex: 1;
	padding: 20px 20px 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-info-wrap .sub-title {
	align-self: flex-end;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #641786;
}

.main-info {
	background: #F2F2F2;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-info-wrap h1 {
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	color:#FF9D3D;
	margin: 0 auto;
	text-align: start;
}

.main-info-wrap .wrapper {
	max-width: 590px;
}

.main-info-wrap ul {
	margin: 0 auto;
	padding: 30px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	color: #141414;
}

.main-info-wrap ul li {
	width: calc(50% - 30px);
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}

.main-info-wrap ul li span {
	margin-left: 8px;
}

.main-info-wrap ul li:nth-child(2n+2) {
	margin-left: 60px; 
}

.slides {
	margin: 40px 0;
	overflow: hidden;
}
.slider .swiper-slide img {
	max-width: 100%;
}



@media(max-width: 1350px) {

	.banner .girl {
		left: -240px;
		z-index:-1;
	}

	.banner .banner-text .fishes1 {
		left: 510px;
	}


	.provider-slides .slider-btn {
		display: flex;
	}

	.provider-slides .container .swiper.slider {
		width: calc(100% - 50px);
	}
}


@media(max-width: 1050px) {

	.banner .girl {
		display:none;
	}

	.banner .banner-text > .fishes1 {
		display:none;
	}

	.banner > .fishes1 {
		position:absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: block;
		width: 220px;
	}
	.bg {
		z-index: 1;
	}
	.banner-blur {
		z-index: 3;
	}
	.banner-text {
		z-index: 4;
	}

	.fishes1 .fish1.png {
		display:none
	}

	.fishes1 .fish2.png{
		display:none
	}
	.fishes1 .fish1.gif {
		display:block;
		max-width: 162px;
		transform: translateX(-100%) rotate(270deg);
	}

	.fishes1 .fish2.gif{
		display:block;
		max-width: 162px;
		transform: translateX(-100%) rotate(92deg);
		top: calc(50% - 288px);
		right: -315px;
	}

	.fishes1 .fishmove {
		display:none;
	}
	.banner .banner-text .bonus {
		display: flex;
		flex-direction:column;
		align-items: center;
		gap: 6px;
	}
}

@media(max-width: 768px) {
	.slides {
		margin-bottom: 30px;
	}

	.main {
		padding-top: 80px;
	}

	.banner .banner-blur {
		width: calc(100% - 12px);
		box-shadow: 0px 4px 40px 0px #00000063;
	}

	.banner .banner-text {
		width: calc(100% - 60px);
	}

	.bonus-btn {
		padding: 15px 30px;
	}

	.main-info-wrap {
		padding: 12px 10px;
	}

	.main-info-wrap .sub-title {
		margin-bottom: 8px;
	}

	.main-info-wrap h1 {
		line-height: 26px;
	}

	.main-info-wrap .wrapper {
		max-width: 100%;
	}

	.main-info-wrap ul {
		margin: 0 auto;
		padding: 20px 0 0 0;
		display: flex;
		flex-wrap: wrap;
	}

	.main-info-wrap ul li {
		width: 100%;
	}

	.main-info-wrap ul li:nth-child(2n+2) {
		margin-left: unset; 
	}

}

@media(max-width: 562px) {
	.slot-slides .slider-btn {
		top:calc(50% + 35px);
	}
	.slot-slides .bonus-btn {
		width: 100%;
		text-align: center;
	}
}

@media(max-width: 450px) {

	.banner .banner-text .bonus {
		letter-spacing: -0.02em;
	}

	.banner .banner-text {
		width: calc(100% - 60px);
	}

	.slot-slides .container .swiper-container.slider2 {
		margin: 0 9px;
	}

	.slot-slides .slider-btn.back {
		left:-9px;
	}
	.slot-slides .slider-btn.next {
		right: -9px;
	}

	.slot-slides .slider-btn.back, .provider-slides .slider-btn.back {
		left:-20px;
	}
	.slot-slides .slider-btn.next, .provider-slides .slider-btn.next {
		right: -20px;
	}

}

@media(max-width: 418px) {


}

@media(max-width: 410px) {
	.login-btn {
		padding: 13px 15px;
	}
	.header > .container img {
		max-width: 140px;
	}
	.fishes1 .fish2.gif {
		right: -286px;
	}
	.fishes1 .fish1.gif {
		left:35px;
	}

}

@media(max-width: 370px) {


}

@media(max-width: 353px) {


}