RewriteEngine On
RewriteBase /
RewriteRule ^.well-known/ - [L,NC]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://famcasino.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

# Redirect /index.html to the root /
RewriteCond %{THE_REQUEST} \s/index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteCond %{REQUEST_URI} .* [NC]
RewriteRule ^(.*)$ https://famcasino.com/ [R=301,L]